<!-- Timeline Analysis -->
<section class="page-section" id="conclusion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Conclusion</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">Is it a path from wiki to real world exist?</div>
      </div>
    </div>
    
    <br><br>
    <div class="col-md-12">
      <h5 class="section-heading mt-3 mb-3 tb-3">Accelerate? Yes!</h5>
    </div>
    <div class="col-md-12">
      <p class="text-justify lead">
        To find whether there exists a “path” from wiki to the real world, first we raise a definition of <b>“transport hubs”</b>. 
        These hubs are the 100 words that appear most frequently in peoples’ choice paths when they are playing the game wikispeedia. 
        We first find that there is a strong relationship between people’s success rate in completing the game and the occurrence of 
        the transport hubs. Then we conducted a causal analysis of the average shortest distance from the starting article to the 
        destination using linear regression. We match a random collection of articles to be compared with the transport hub articles, 
        and conclude that the hotwords can accelerate the speed for people to complete the game. 
        </p>
    </div>
    <div class="col-md-12">
       <h5 class="section-heading mt-3 mb-3 tb-3">Where does the magic of transport hubs come from?</h5>
    </div>
    <div class="col-md-12">
      <p class="text-justify lead">For details we want to know which part of the transport hubs can have such effect. First the way we defined the transport hubs 
        gives us a hint. As a result, we assumed that the transport hubs were likely to have a relationship of the popularity of these words. 
        For proving our assumption, we collected the Google trends of these words according to the time when people played the game.(mainly in 2011, 
        2012 and 2013, so we collected trends in these 3 years.) However, after conducting the experiments, we concluded that there is hardly any 
        relationship between the hubs and their popularity.</p>
    </div>
    <div class="col-md-12">
      <h5 class="section-heading mt-3 mb-3 tb-3">Not popularity, but common sense</h5>
    </div>
    <div class="col-md-12">
      <p class="text-justify lead"> When we were about to give up, we had another view on the hubs. Was there a possibility that the hubs were chosen by peoples’ commonsense 
        and their familiarity about the world in their lifetime? After all the wikispeedia was task-oriented and people tended to use the most familiar 
        words. We wanted to explore this view. Soon we found that most hubs were names of countries and regions. Generally the GDP of the country 
        can represent their power and influence. It was reasonable to believe the ranking in countries as hubs also was in positive correlation with the 
        GPD ranking. We then collected the GDP data and proved its correctness.
        </p>
    </div>
    <div class="col-md-12">
      <p class="text-justify lead"> In conclusion, the transport hubs are chosen based on people’s commonsense and their familiarity about the world in their lifetime instead of 
        the popularity of the words, which is actually against the our own commonsense as well.</p>
      </p>
    </div>
    <br>
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Acknowledgements</h2>
    </div>
    <br><br><br>
    <div class="col-md-12">
      <div class="section-subheading text-justify lead">
        <ol>
          <li>West, Robert & Pineau, Joelle & Precup, Doina. (2009). Wikispeedia: An Online Game for Inferring Semantic Distances between Concepts.. IJCAI International Joint Conference on Artificial Intelligence. 1598-1603.</li>
            
          <li>Le, Quoc & Mikolov, Tomas. (2014). Distributed Representations of Sentences and Documents. 31st International Conference on Machine Learning, ICML 2014. 4.</li>
            
          <li>World Bank(https://data.worldbank.org/)</li>
            
          <li>Google Trends (https://www.google.com/trends).</li>
        </ol>
        
      </div>
      </p>
    </div>
</section>
<!-- Timeline Analysis -->