<!-- Timeline Analysis -->
<section class="page-section" id="google_trend_analysis">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Does Google Trends have a positive relationship with transport hubs?</h2>
                <h3 class="section-subheading text-muted">
                   
                </h3>
            </div>

            <div class="col-md-12">
                <p class="text-justify lead">
                    Since we already found that the national GDP is in line with the transport hubs. Now the question is do google
                     trends also have a positive relationship with transport hubs?  Using the API Pytrend, we found the google 
                     trends of the transport hubs in the years 2011, 2012, and 2013, surprisingly the Google trends ranks do not have a 
                     positive relationship with the transport hubs ranks.  As is shown in the following figures. 
                     <br><br>
                     We can conclude that the 
                     transport hubs have no relationship with Google trends. You may ask why?  Is google trends less accurate than the GDP data?  
                     The answer is since the Wikipedia game is more <b>task-oriented</b>, people who are playing this game are trying to find the hubs 
                     that can bring them to their destination rather than the hubs that they are more familiar with. 
                     <br><br>
                     The Google trends only 
                     reflect what is popular on the internet or what people are familiar with. This explains why the hubs are more related to GDP 
                     rather than Google trends. 
                </p>
            </div>
            <div class="row">
                <div class="col-md-12 residuals">
                    <h6 class="text-center">Rank of transport hubs in Google Trends and Wikispeedia, 2011</h6>
                </div>
                <div class="col-md-12 residuals" style="margin-top: -3em;">
                    <img src="assets/img/scatter_2011.png" width="80%" alt="" srcset="">
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="row">
                <div class="col-md-12 residuals">
                    <h6 class="text-center">Rank of transport hubs in Google Trends and Wikispeedia, 2012</h6>
                </div>
                <div class="col-md-12 residuals" style="margin-top: -3em;">
                    <img src="assets/img/scatter_2012.png" width="80%" alt="" srcset="">
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="row">
                <div class="col-md-12 residuals">
                    <h6 class="text-center">Rank of transport hubs in Google Trends and Wikispeedia, 2013</h6>
                </div>
                <div class="col-md-12 residuals" style="margin-top: -3em;">
                    <img src="assets/img/scatter_2013.png" width="80%" alt="" srcset="">
                </div>
            </div>
        </div>

    </div>
</section>