<!-- Introduction -->
<section class="page-section" id="introduction">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase mb-3 tb-3">Introduction</h2>
        <h3 class="section-subheading text-muted">
          About Wikispeedia
        </h3>

        <div class="section-subheading text-justify lead">
          <p>Wikispeedia is a the human-computation game in which users are asked to navigate from a given source to a 
            given target article, by only clicking Wikipedia links, which implies all the connection between articles 
            is created from human intuition.  This dataset contains human navigation paths on Wikipedia, collected 
            through Wikispeedia. This dataset contains data from 2011 to 2014, but we have discarded the 2014 data 
            because it is significantly smaller than the other three years.</p>
          
          <p>As wikispeedia dataset can be considered as a article <b>"map"</b>, including tons of criss-cross article 
          navigation paths, we try to find out 100 of the most popular words that were identified as Wikispeedia 
          <b>"transport hubs"</b>, based on their click-through.</p>

        </div>
        <div class="col-md-12">
          <h5 class="section-heading mt-3 mb-3 tb-3">First Glimpse of Transport Hubs</h5>
        </div>
        <div class="col-md-12 residuals">
          <img src="assets/img/cloud_2011.png" width="80%" alt="" srcset="">
        </div>
        <div class="col-md-12 residuals">
          <img src="assets/img/cloud_2012.png" width="80%" alt="" srcset="">
        </div>
        <div class="col-md-12 residuals">
          <img src="assets/img/cloud_2013.png" width="80%" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>

</section>
<!-- End Introduction -->