<!-- Sentiment Analysis -->
<section class="page-section" id="sentiment_analysis">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Can we place Wiki transport hubs on Semantic level?</h2>
        <h3 class="section-subheading text-muted">...</h3>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <p class="text-justify lead">
          Following human intuition, we believe that the larger the degree in the network graph model, the closer the node should be to the centroids. So whether transport hubs of Wikispeedia are also the semantic hubs?
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <h5 class="section-heading mt-3 mb-3 tb-3">How to measure the semantic information content of an article?</h5>
      </div>

      <div class="col-md-12">
        <div class="section-subheading text-justify lead">
          We use <b>cosine distances</b> of their doc embedding. 
          <ol>
            <li>We firstly obtain the embedded vectors of articles, using <b>Doc2Vec</b> model. Each article is represented as a vector of length 300. The Doc2Vec model, in contrast to the traditional word embedding model, allows the creation of word embedding set while directly obtaining a vector of the entire document. Since it is a direct segment vector, it takes into account the order between words and has better semantic information.</li>
            <li>We clustered those articles, using <b>K-means</b>, based on cosine distance. We determined the value of K to be 16 by analysing the category structure of the articles, and the clustering results were tested by these 16 true categories at the end of the clustering.</li>
          </ol>
          
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h5 class="section-heading mt-3 mb-3 tb-3">Clustering results</h5>
      </div>

      <div class="col-md-12">
        <div class="section-subheading text-justify lead">
          <ol>
            <li>Average cosine distance to centroids</li>
            <li>Reduce the dimensionality by PCA for visualization</li>
          </ol>
        </div>
        <div class="col-md-12 residuals">
          <img src="assets/img/cluster.png" width="80%" alt="" srcset="">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h5 class="section-heading mt-3 mb-3 tb-3">Conclusion</h5>
      </div>

      <div class="col-md-12">
        <div class="section-subheading text-justify lead">
          Wikispeedia transport hubs do not cluster at the centroidds of the clusters. Their mean distance to centroids is almost equal to the mean distance to centroids from random nodes. So <b>no</b>, the rich semantic information does not make them more selective.
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End Sentiment Analysis -->