<!-- Timeline Analysis -->
<section class="bg-light page-section" id="timeline_analysis">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Does the country's type of transport hubs have connections with GDP？</h2>
                <h3 class="section-subheading text-muted">
                    Some more analysis...
                </h3>
            </div>

            <div class="col-md-12">
                <p class="text-justify lead">
                We note that the nation's term is a very typical kind of 'transport hubs'. To place them in the real world, we analyze this in
                relation to national GDP data. To better understand the relationship between transport hubs and real-world situations the national
                GDP data set provided by  World Bank is imported.  The dataset contains the GDP of 266 counties and we picked up the transport hubs
                in the category of the country by using the dataset categories.tsv. Now, the question is do the Hotness of transport hubs and the 
                GDP of each country have relations. After plotting the figures, we found that in general, the hotness of transport hubs is in line
                with The GDP of each country. But why?  As we know the GDP is a comprehensive factor that can reflect a country’s strength. A country 
                with higher GDP will have a higher influence in many aspects and then will link to more events.  
                Therefore Wikipedia pages can link to more topics. This can explain why The GDP is in line with transport hubs.
                </p>
            </div>

            <div class="col-md-12">
                <h6 class="text-center">Hotness and GDP among countries, 2011</h3>
                <div id="gdp2011"></div>
            </div>

            <p>&nbsp;</p>
            
            <div class="col-md-12">
                <h6 class="text-center">Hotness and GDP among countries, 2012</h3>
                <div id="gdp2012"></div>
            </div>
            
            <p>&nbsp;</p>
            
            <div class="col-md-12">
                <h6 class="text-center">Hotness and GDP among countries, 2013</h3>
                <div id="gdp2013"></div>
            </div>

        </div>

    </div>
</section>